<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091235665564-0mug40sv1memehj59154tb868e5jhop8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091235665564-0mug40sv1memehj59154tb868e5jhop8</string>
	<key>API_KEY</key>
	<string>AIzaSyCdcNrrC7ptVPjLPWCperJKfXuaPWpFaog</string>
	<key>GCM_SENDER_ID</key>
	<string>1091235665564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadtrap</string>
	<key>PROJECT_ID</key>
	<string>roadtrap-5e34c</string>
	<key>STORAGE_BUCKET</key>
	<string>roadtrap-5e34c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091235665564:ios:264eec06e4de4ad57bbf59</string>
</dict>
</plist>